<h2>Adedd Task</h2>
<% for(var i=0; i<task.length;++)%>
    <li> input type="checkbox" name="check" value="<%=task[i]"%><%=task[i]%></li><%
    %>
<h2>completed task</h2>
<% for(var i=0;i<complete.length;i++) %>
<li input type="checkbox"checked><%=complete[i]%></li>
<%<%>
